.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 100px repeat(2, 200px) 100px;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
    border-style: solid;
    border-color: grey;
}


.grid-item-1 {
    grid-column-start:1;
    grid-column-end:-1;
    background-color: cornflowerblue;
}

.grid-item-2 {
    grid-column: 3/span 4;
    background-color: chartreuse;
}

.grid-item-3 {
    grid-column: 7/span 2;
    background-color: darkorchid;
}

.grid-item-4 {
    grid-column: 3/span 3;
    background-color: orange;
}

.grid-item-5 {
    grid-column: 6/span 3;
    background-color: orange;
}

.grid-item-6 {
    grid-column: 1/span 10;
    background-color: darkblue;
}

p.center {
    text-align: center;
    margin-top:25%;
}

p {
    margin-left: 15px;
    color: white;
    font-size: 30px;
}
