.container {
    display: grid;
    grid-gap: 15px 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px repeat(2, 200px) 100px;
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%;
    border: 10px, black;
}

.grid-item-1 {
    grid-column-start:1;
    grid-column-end:-1;
    text-indent: 20px;
    //vertical-align: -100x;
    background-color: dodgerblue;
    color: white;
    font-weight:bold;
    
}
